.Comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Comment p {
    margin: 0;
    padding: 0;
}

.Comment-title {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.Comment-date {
    color: #666;
}

.Comment-text {
    font-size: 14px;
    word-break: break-all;
}

.Comment-answer {
    color: #0087E9;
    font-size: 12px;
    cursor: pointer;
}